<div class="max-w-3xl mx-auto p-6 bg-white shadow-md rounded-lg">
  <h2 class="text-2xl text-yellow-500 font-semibold mb4">
    {{ currentResume ? "Update Resume" : "Create Resume" }}
  </h2>

  <button type="button" (click)="toggleForm()">
    {{ showForm ? "Cancel" : "Edit Resume" }}
  </button>

  <button (click)="deleteResume()" *ngIf="currentResume" class="space-y-6">
    Delete Resume
  </button>

  <form
    *ngIf="showForm"
    [formGroup]="resumeForm"
    (ngSubmit)="onSubmit()"
    class="space-y-6"
  >
    <div formGroupName="basics" class="border border-gray-300 rounded-lg p-4">
      <h3 class="text-xl font-semibold mb-2">Personal Information</h3>
      <label class="block text-gray-700" for="name">Name</label>
      <input
        class="w-full px-3 py-2 border rounded-md focus:outline-none focus:ring focus:ring-indigo-200"
        type="text"
        id="name"
        formControlName="name"
        placeholder="Full Name"
      />

      <label class="block text-gray-700" for="label">Label</label>
      <input
        class="w-full px-3 py-2 border rounded-md focus:outline-none focus:ring focus:ring-indigo-200"
        type="text"
        id="label"
        formControlName="label"
        placeholder="Professional Title"
      />

      <label class="block text-gray-700" for="email">Email</label>
      <input
        class="w-full px-3 py-2 border rounded-md focus:outline-none focus:ring focus:ring-indigo-200"
        type="email"
        id="email"
        formControlName="email"
        placeholder="Email"
      />

      <label class="block text-gray-700" for="phone">Phone</label>
      <input
        class="w-full px-3 py-2 border rounded-md focus:outline-none focus:ring focus:ring-indigo-200"
        type="text"
        id="phone"
        formControlName="phone"
        placeholder="Phone Number"
      />

      <label class="block text-gray-700" for="url">Website</label>
      <input
        class="w-full px-3 py-2 border rounded-md focus:outline-none focus:ring focus:ring-indigo-200"
        type="text"
        id="url"
        formControlName="url"
        placeholder="Website URL"
      />

      <label class="block text-gray-700" for="summary">Summary</label>
      <textarea
        class="w-full px-3 py-2 border rounded-md focus:outline-none focus:ring focus:ring-indigo-200"
        id="summary"
        formControlName="summary"
        placeholder="Brief Summary"
      ></textarea>

      <div formGroupName="location" class="mt-4 p-4 bg-gray-100 rounded-lg">
        <h4 class="text-lg font-medium">Location</h4>
        <label class="block text-gray-600" for="address">Address</label>
        <input
          class="w-full px-3 py-2 border rounded-md focus:outline-none focus:ring focus:ring-indigo-200"
          type="text"
          id="address"
          formControlName="address"
          placeholder="Address"
        />

        <label class="block text-gray-600" for="postalCode">Postal Code</label>
        <input
          class="w-full px-3 py-2 border rounded-md focus:outline-none focus:ring focus:ring-indigo-200"
          type="text"
          id="postalCode"
          formControlName="postalCode"
          placeholder="Postal Code"
        />

        <label class="block text-gray-600" for="city">City</label>
        <input
          class="w-full px-3 py-2 border rounded-md focus:outline-none focus:ring focus:ring-indigo-200"
          type="text"
          id="city"
          formControlName="city"
          placeholder="City"
        />

        <label class="block text-gray-600" for="countryCode"
          >Country Code</label
        >
        <input
          class="w-full px-3 py-2 border rounded-md focus:outline-none focus:ring focus:ring-indigo-200"
          type="text"
          id="countryCode"
          formControlName="countryCode"
          placeholder="Country Code"
        />

        <label class="block text-gray-600" for="region">Region</label>
        <input
          class="w-full px-3 py-2 border rounded-md focus:outline-none focus:ring focus:ring-indigo-200"
          type="text"
          id="region"
          formControlName="region"
          placeholder="Region"
        />
      </div>

      <div
        formArrayName="profiles"
        class="border border-gray-300 rounded-lg p-4"
      >
        <h3 class="text-xl font-semibold mb-2">Social Media Profiles</h3>
        <div
          *ngFor="let profile of profiles.controls; let i = index"
          [formGroupName]="i"
          class="bg-gray-50 p-4 rounded-lg mb-2"
        >
          <input
            class="w-full px-3 py-2 border rounded-md focus:outline-none focus:ring focus:ring-indigo-200"
            formControlName="network"
            placeholder="Network"
          />
          <input
            class="w-full px-3 py-2 border rounded-md focus:outline-none focus:ring focus:ring-indigo-200"
            formControlName="username"
            placeholder="Username"
          />
          <input
            class="w-full px-3 py-2 border rounded-md focus:outline-none focus:ring focus:ring-indigo-200"
            formControlName="url"
            placeholder="Profile URL"
          />
          <button type="button" (click)="removeProfile(i)">Remove</button>
        </div>
        <button type="button" (click)="addProfile()">Add Profile</button>
      </div>
    </div>

    <div>
      <label for="renderLatex">LaTeX Render</label>
      <textarea
        id="renderLatex"
        formControlName="renderLatex"
        placeholder="Rendered LaTeX"
      ></textarea>
    </div>

    <div formArrayName="work" class="border border-gray-300 rounded-lg p-4">
      <h3 class="text-xl font-semibold mb-2">Work Experience</h3>
      <div *ngFor="let job of work.controls; let i = index">
        <div [formGroupName]="i">
          <input
            class="w-full px-3 py-2 border rounded-md focus:outline-none focus:ring focus:ring-indigo-200"
            formControlName="name"
            placeholder="Company Name"
          />
          <input
            class="w-full px-3 py-2 border rounded-md focus:outline-none focus:ring focus:ring-indigo-200"
            formControlName="position"
            placeholder="Position"
          />
          <input
            class="w-full px-3 py-2 border rounded-md focus:outline-none focus:ring focus:ring-indigo-200"
            formControlName="url"
            placeholder="Company URL"
          />
          <input
            class="w-full px-3 py-2 border rounded-md focus:outline-none focus:ring focus:ring-indigo-200"
            formControlName="startDate"
            placeholder="Start Date"
          />
          <input
            class="w-full px-3 py-2 border rounded-md focus:outline-none focus:ring focus:ring-indigo-200"
            formControlName="endDate"
            placeholder="End Date"
          />
          <textarea
            class="w-full px-3 py-2 border rounded-md focus:outline-none focus:ring focus:ring-indigo-200"
            formControlName="summary"
            placeholder="Summary"
          ></textarea>
          <button type="button" (click)="removeWork(i)">Remove</button>
        </div>
      </div>
      <button type="button" (click)="addWork()">Add Work Experience</button>
    </div>

    <div
      formArrayName="education"
      class="border border-gray-300 rounded-lg p-4"
    >
      <h3 class="text-xl font-semibold mb-2">Education</h3>
      <div
        *ngFor="let education of education.controls; let i = index"
        class="bg-gray-50 p-4 rounded-lg mb-2"
        [formGroupName]="i"
      >
        <input
          class="w-full px-3 py-2 border rounded-md focus:outline-none focus:ring focus:ring-indigo-200"
          formControlName="institution"
          placeholder="Institution"
        />
        <input
          class="w-full px-3 py-2 border rounded-md focus:outline-none focus:ring focus:ring-indigo-200"
          formControlName="area"
          placeholder="Field of Study"
        />
        <input
          class="w-full px-3 py-2 border rounded-md focus:outline-none focus:ring focus:ring-indigo-200"
          formControlName="studyType"
          placeholder="Degree"
        />
        <input
          class="w-full px-3 py-2 border rounded-md focus:outline-none focus:ring focus:ring-indigo-200"
          formControlName="startDate"
          placeholder="Start Date"
        />
        <input
          class="w-full px-3 py-2 border rounded-md focus:outline-none focus:ring focus:ring-indigo-200"
          formControlName="endDate"
          placeholder="End Date"
        />
        <input
          class="w-full px-3 py-2 border rounded-md focus:outline-none focus:ring focus:ring-indigo-200"
          formControlName="score"
          placeholder="GPA/Score"
          type="number"
        />
        <button type="button" (click)="removeEducation(i)">Remove</button>
      </div>
      <button type="button" (click)="addEducation()">Add Education</button>
    </div>

    <div
      formArrayName="certificates"
      class="border border-gray-300 rounded-lg p-4"
    >
      <h3 class="text-xl font-semibold mb-2">Certificates</h3>

      <div
        *ngFor="let certificate of certificates.controls; let i = index"
        [formGroupName]="i"
        class="bg-gray-50 p-4 rounded-lg mb-2"
      >
        <input
          formControlName="name"
          placeholder="Certificate Name"
          class="w-full px-3 py-2 border rounded-md focus:outline-none focus:ring focus:ring-indigo-200"
        />

        <input
          formControlName="date"
          placeholder="Date"
          class="w-full px-3 py-2 border rounded-md focus:outline-none focus:ring focus:ring-indigo-200"
        />

        <input
          formControlName="issuer"
          placeholder="Issuer"
          class="w-full px-3 py-2 border rounded-md focus:outline-none focus:ring focus:ring-indigo-200"
        />
        <input
          formControlName="url"
          placeholder="URL"
          class="w-full px-3 py-2 border rounded-md focus:outline-none focus:ring focus:ring-indigo-200"
        />

        <button type="button" (click)="removeCertificate(i)">Remove</button>
      </div>

      <button type="button" (click)="addCertificate()">Add Certificate</button>
    </div>

    <div formArrayName="awards" class="border border-gray-300 rounded-lg p-4">
      <h3 class="text-xl font-semibold mb-2">Awards</h3>

      <div
        *ngFor="let award of awards.controls; let i = index"
        [formGroupName]="i"
        class="bg-gray-50 p-4 rounded-lg mb-2"
      >
        <input
          formControlName="title"
          placeholder="Title"
          class="w-full px-3 py-2 border rounded-md focus:outline-none focus:ring focus:ring-indigo-200"
        />

        <input
          formControlName="date"
          placeholder="Date"
          class="w-full px-3 py-2 border rounded-md focus:outline-none focus:ring focus:ring-indigo-200"
        />

        <input
          formControlName="awarder"
          placeholder="Awarder"
          class="w-full px-3 py-2 border rounded-md focus:outline-none focus:ring focus:ring-indigo-200"
        />
        <textarea
          class="w-full px-3 py-2 border rounded-md focus:outline-none focus:ring focus:ring-indigo-200"
          formControlName="summary"
          placeholder="Summary"
        ></textarea>

        <button type="button" (click)="removeAward(i)">Remove</button>
      </div>

      <button type="button" (click)="addAward()">Add Awards</button>
    </div>

    <div formArrayName="skills" class="border border-gray-300 rounded-lg p-4">
      <h3 class="text-xl font-semibold mb-2">Skills</h3>

      <div
        *ngFor="let skill of skills.controls; let i = index"
        [formGroupName]="i"
        class="bg-gray-50 p-4 rounded-lg mb-2"
      >
        <input
          formControlName="name"
          placeholder="Skill Name"
          class="w-full px-3 py-2 border rounded-md focus:outline-none focus:ring focus:ring-indigo-200"
        />

        <input
          formControlName="level"
          placeholder="Proficiency Level"
          class="w-full px-3 py-2 border rounded-md focus:outline-none focus:ring focus:ring-indigo-200"
        />

        <!-- <input
          formControlName="keywords"
          placeholder="Keywords"
          class="w-full px-3 py-2 border rounded-md focus:outline-none focus:ring focus:ring-indigo-200"
        /> -->

        <button type="button" (click)="removeSkill(i)">Remove</button>
      </div>

      <button type="button" (click)="addSkill()">Add Skill</button>
    </div>

    <div
      formArrayName="volunteer"
      class="border border-gray-300 rounded-lg p-4"
    >
      <h3 class="text-xl font-semibold mb-2">Volunteer</h3>
      <div
        *ngFor="let volunteer of volunteer.controls; let i = index"
        [formGroupName]="i"
      >
        <input
          class="w-full px-3 py-2 border rounded-md focus:outline-none focus:ring focus:ring-indigo-200"
          formControlName="organization"
          placeholder="Organization"
        />
        <input
          class="w-full px-3 py-2 border rounded-md focus:outline-none focus:ring focus:ring-indigo-200"
          formControlName="position"
          placeholder="Position"
        />
        <input
          class="w-full px-3 py-2 border rounded-md focus:outline-none focus:ring focus:ring-indigo-200"
          formControlName="url"
          placeholder="URL"
        />
        <input
          class="w-full px-3 py-2 border rounded-md focus:outline-none focus:ring focus:ring-indigo-200"
          formControlName="startDate"
          placeholder="Start Date"
        />
        <input
          class="w-full px-3 py-2 border rounded-md focus:outline-none focus:ring focus:ring-indigo-200"
          formControlName="endDate"
          placeholder="End Date"
        />
        <textarea
          class="w-full px-3 py-2 border rounded-md focus:outline-none focus:ring focus:ring-indigo-200"
          formControlName="summary"
          placeholder="Summary"
        ></textarea>
        <input formControlName="url" placeholder="Project URL" />
        <button type="button" (click)="removeVolunteerExperience(i)">
          Remove
        </button>
      </div>
      <button type="button" (click)="addVolunteerExperience()">
        Add Volunteer Experience
      </button>
    </div>

    <div
      formArrayName="languages"
      class="border border-gray-300 rounded-lg p-4"
    >
      <h3 class="text-xl font-semibold mb-2">Languages</h3>
      <div
        *ngFor="let language of languages.controls; let i = index"
        class="bg-gray-50 p-4 rounded-lg mb-2"
        [formGroupName]="i"
      >
        <input
          class="w-full px-3 py-2 border rounded-md focus:outline-none focus:ring focus:ring-indigo-200"
          formControlName="language"
          placeholder="Language"
        />
        <input
          class="w-full px-3 py-2 border rounded-md focus:outline-none focus:ring focus:ring-indigo-200"
          formControlName="fluency"
          placeholder="Fluency"
        />
        <button type="button" (click)="removeLanguage(i)">Remove</button>
      </div>
      <button type="button" (click)="addLanguage()">Add Language</button>
    </div>

    <div formArrayName="projects" class="border border-gray-300 rounded-lg p-4">
      <h3 class="text-xl font-semibold mb-2">Projects</h3>
      <div
        *ngFor="let project of projects.controls; let i = index"
        [formGroupName]="i"
      >
        <input
          class="w-full px-3 py-2 border rounded-md focus:outline-none focus:ring focus:ring-indigo-200"
          formControlName="name"
          placeholder="Project Name"
        />
        <input
          class="w-full px-3 py-2 border rounded-md focus:outline-none focus:ring focus:ring-indigo-200"
          formControlName="startDate"
          placeholder="Start Date"
        />
        <input
          class="w-full px-3 py-2 border rounded-md focus:outline-none focus:ring focus:ring-indigo-200"
          formControlName="endDate"
          placeholder="End Date"
        />
        <textarea
          class="w-full px-3 py-2 border rounded-md focus:outline-none focus:ring focus:ring-indigo-200"
          formControlName="description"
          placeholder="Description"
        ></textarea>
        <input formControlName="url" placeholder="Project URL" />
        <button type="button" (click)="removeProject(i)">Remove</button>
      </div>
      <button type="button" (click)="addProject()">Add Project</button>
    </div>

    <div
      formArrayName="publications"
      class="border border-gray-300 rounded-lg p-4"
    >
      <h3 class="text-xl font-semibold mb-2">Publications</h3>
      <div
        *ngFor="let publication of publications.controls; let i = index"
        [formGroupName]="i"
      >
        <input
          class="w-full px-3 py-2 border rounded-md focus:outline-none focus:ring focus:ring-indigo-200"
          formControlName="name"
          placeholder="Name"
        />
        <input
          class="w-full px-3 py-2 border rounded-md focus:outline-none focus:ring focus:ring-indigo-200"
          formControlName="publisher"
          placeholder="Publisher"
        />
        <input
          class="w-full px-3 py-2 border rounded-md focus:outline-none focus:ring focus:ring-indigo-200"
          formControlName="releaseDate"
          placeholder="Release Date"
        />
        <input
          class="w-full px-3 py-2 border rounded-md focus:outline-none focus:ring focus:ring-indigo-200"
          formControlName="url"
          placeholder="URL"
        />
        <textarea
          class="w-full px-3 py-2 border rounded-md focus:outline-none focus:ring focus:ring-indigo-200"
          formControlName="summary"
          placeholder="Summary"
        ></textarea>
        <input formControlName="url" placeholder="Project URL" />
        <button type="button" (click)="removePublication(i)">Remove</button>
      </div>
      <button type="button" (click)="addPublication()">Add Publication</button>
    </div>

    <div
      formArrayName="references"
      class="border border-gray-300 rounded-lg p-4"
    >
      <h3 class="text-xl font-semibold mb-2">References</h3>
      <div *ngFor="let reference of references.controls; let i = index">
        <div [formGroupName]="i">
          <input
            class="w-full px-3 py-2 border rounded-md focus:outline-none focus:ring focus:ring-indigo-200"
            formControlName="name"
            placeholder="Reference Name"
          />
          <textarea
            class="w-full px-3 py-2 border rounded-md focus:outline-none focus:ring focus:ring-indigo-200"
            formControlName="reference"
            placeholder="Reference Details"
          ></textarea>
          <button type="button" (click)="removeReference(i)">Remove</button>
        </div>
      </div>
      <button type="button" (click)="addReference()">Add Reference</button>
    </div>

    <button type="submit" [disabled]="!resumeForm.valid">
      {{ currentResume ? "Update Resume" : "Create Resume" }}
    </button>
  </form>

  <div *ngIf="successMessage" class="success-message">{{ successMessage }}</div>
  <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
</div>
